{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "trailingComma": "all",
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "printWidth": 100
}
